# Task 4: Email Spam Detection with Machine Learning

Important Libraries

In [173]:
import numpy as np
import pandas as pd

In [174]:
d = pd.read_csv('spam.csv', encoding = 'latin-1')

In [175]:
d.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [176]:
d.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [177]:
d.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis = 1, inplace = True)

In [178]:
d.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [179]:
d['v1'] = d['v1'].map({'ham':0, 'spam':1})

In [180]:
d.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [181]:
from sklearn.feature_extraction.text import CountVectorizer

In [182]:
cv = CountVectorizer()

In [183]:
x = d['v2']
y = d['v1']

In [184]:
x.shape

(5572,)

In [185]:
y.shape

(5572,)

In [186]:
x = cv.fit_transform(x)

In [187]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [188]:
from sklearn.model_selection import train_test_split

In [189]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [190]:
x_train.shape

(4457, 8672)

In [191]:
from sklearn.naive_bayes import MultinomialNB

In [192]:
model = MultinomialNB()

In [193]:
model.fit(x_train,y_train)

MultinomialNB()

In [194]:
result = model.score(x_test, y_test)

In [195]:
result = result*100

In [196]:
result

97.9372197309417

In [197]:
import pickle

In [198]:
pickle.dump(model, open("spam.pkl","wb"))

In [199]:
pickle.dump(model, open("vectorizer.pkl","wb"))

In [200]:
clf = pickle.load(open("spam.pkl","rb"))

In [201]:
clf

MultinomialNB()

In [202]:
msg = 'Hi How are You?'
data = [msg]
v = cv.transform(data).toarray()
result = model.predict(v)
print(result)

[0]